<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<title>lab6</title>
</head>

<body >
	<main>
	
		<h3 th:unless="${#request.remoteUser}">
			<i style="color: red">Chưa đăng nhập</i>
		</h3>
		
		<th:block th:if="${#request.remoteUser}">
			<h3 style="color: blue">Authentication Information</h3>
			<ul>
			  <li> Username: <b>[[${#request.remoteUser}]]</b> </li>
			  <li> Is Admin?: <b>[[${#request.isUserInRole('ADMIN')}]]</b> </li>
			</ul>
			
			<ul th:object="${#request.userPrincipal}">
			  <li> Username: <b>[[*{name}]]</b> </li>
			  <li> Roles: <b>[[*{authorities}]]</b> </li>
			</ul>

		</th:block>
	
	
	</main>
</body>

</html>